
.navbar {
   background-color: salmon;
   color: white;
   padding: 10px;
   width: 100%;
   margin: 0 auto;
   text-align: center;
   font-size: 2em;
}


.board {
    width: 500px;
    height: 500px;
    border: solid;
    display: grid;
}