:root {
    --black: #000000;
    --navy: #14213d;
    --yellow: #fca311;
    --gray: #e5e5e5;
    --white: #FFFF;
    --red: #d00000;
}


body,html {
    height: 100%;
    position: relative;
}



.sizeValue,
.brush,
button {
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}


.navbar {
    background-color: var(--navy);
    color: white;
    padding: 20px 30px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.board {
    width: 500px;
    height: 500px;
    box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.32);
    -webkit-box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.32);
    display: grid;
}

.sketchpad {
    width: fit-content;
    margin: 60px auto;
}

.btn {
    color: var(--navy);
    padding: 10px;
    background-color: var(--white);
    border: solid 2px var(--navy);
    border-radius: 10px;
    font-weight: 500;
    width: 85.09px;
}

button:hover,
input[type='color']:hover {
    transform: scale(1.05);
    cursor: pointer;
}

button:hover {
    background-color: var(--yellow);
    color: white;
    border: 2px solid var(--navy);
    
}

button:focus {
    background-color: var(--yellow);
    color: white;
    border: 2px solid var(--navy);
}


.buttons {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    width: 90px;
    gap: 1rem;
}

.board-and-buttons {
    display: flex;
    gap: 3rem;
    

}

.mode-container {
    height: 32px;

}



/* COLOR PICKER */
input[type='color'] {
    -webkit-appearance: none;
    width: 80px;
    height: 80px;
    border: none;
    background-color: #ffff;
}

input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* COLOR PICKER */




/* SLIDER  */
input[type='range'] {
    -webkit-appearance: none;
    font-size: 1rem;
    background-color: var(--white);
}

input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    border: 1px solid var(--white);
    border-radius: 25px;
    background: var(--gray);
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 25px;
    margin-top: -8px;
    background: var(--yellow);
}

/* SLIDER */
.inbetween {
    width: 500px;
    text-align: center;
    margin-bottom: 10px;
}

.gridSlider {
    margin-top: 10px;
    margin-bottom: 19px;
}

.brush {
    margin-top: 10px;
}


.footer {
    position: absolute;
    bottom: 0%;
    right: 900px;
}

.footer-container   {
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    

}

.fa-github {
    font-size: larger;
    color: var(--navy);
}
    